:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #eb2d2d;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --background-color: #2f303a;
  --bgc-secondary-color: #f5f4fa;
  --primary-item-size: 30px;
  --secondary-item-size: 94px;
}

body {
  font-family: var(--primary-font-family);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background-color: rgb(97, 97, 97);
}

/* Спец. */

[href] {
  transition: color 250ms;

  color: currentColor;
  text-decoration: none;
}

[href]:hover,
[href]:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;

  padding-left: 0;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
}

/* Header */

.header {
  color: var(--primary-white-color);
  background-color: var(--primary-black-color);
}

.header-container {
  display: flex;
}

.tel {
  margin-left: auto;
}

.button {
  transition: color 250ms, background-color 250ms;

  width: 200px;
  height: 50px;
  margin-left: 15px;
  padding: 10px 32px;

  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
}

.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--primary-black-color);
}

.primary-button {
  background-image: url(../images/logo/icons.svg#instagram);
}

/* Hero */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/gallery/photo-two.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero-text {
  text-align: center;
}

/* Секция о нас */

.section-bgc:nth-child(even) {
  background-color: violet;
}

.section-container {
  display: flex;
}

.section-list {
  display: flex;
}

.section-img:not(:last-child) {
  margin-right: 30px;
}

.card {
  margin-left: 60px;
}

.card-text,
.card-title,
.card-text {
  margin-bottom: 10px;
}

.button-secondary {
  margin-left: 0;
}

/* Наши мастера */

.masters-title {
  text-align: center;
  margin-bottom: 10px;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.masters-list:not(:last-child) {
  margin-right: 25px;
}

.card-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.icon-item {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-item:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  fill: tomato;
}

.icon-item:hover,
.icon-item:focus {
  background-color: tomato;
}

.icon-item:hover .icon,
.icon-item:focus .icon {
  fill: white;
}

.icon {
  display: flex;
}

/* Footer */

.footer {
  color: white;
  background-color: var(--title-text-color);
}

.footer-container {
  display: flex;
}

.address {
  margin-right: 60px;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  pointer-events: initial;

  background-color: rgba(0, 0, 0, 0.411);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;

  color: blueviolet;
  background-color: #fff;
}

.modal-bth {
  position: absolute;
  top: 0;
  right: 0;

  margin: 5px;

  border: 1px solid tomato;
  border-radius: 50%;

  color: tomato;
  background-color: #fff;
}

.modal-text {
  padding: 20px;
}

.bth-test {
  transition: color 1000ms 200ms, background-color 1000ms 200ms,
